.sec-skills {
    padding-top: 5em;
    padding-bottom: 8.12em;
}

.sec-skills__header {
    font-size: 3rem;
    margin-bottom: 3.5rem;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9.125rem, 1fr));
    grid-gap: 2.2rem;

}

.skill {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill__logo {
    margin-bottom: 0.6rem;
}

.skill__name {
    color: var(--clr-gray777);
    font-size: 1.5rem;
    font-family: var(--fnt-inter);
    font-weight: 500;
    word-break: break-all;
}